Flask
Flask-Cors
Flask-Migrate
Flask-RESTful
Flask-SocketIO
Flask-SQLAlchemy
Flask-WTF
Flask-Talisman
SQLAlchemy
psycopg2-binary
python-dotenv
Werkzeug
WTForms
gunicorn
requests
google-cloud-speech
google-generativeai
openai
reportlab
Pillow
google-cloud-translate
google-cloud-texttospeech
deep-translator
qrcode
PyJWT
email-validator
cryptography
bcrypt
